@(deviceForm: Form[Device], device: Device)

    @if(deviceForm.hasGlobalErrors) {
        <ul>
        @deviceForm.globalErrors.foreach { error =>
            <li>error.message</li>
        }
        </ul>
    }


    @main("Edit a device") {

        @if(deviceForm("id").value == "" || deviceForm("id").value == null) {
            <h2>Add the device</h2>
        } else {
            <h2>Update the device</h2>
        }

        @helper.form(action = routes.Devices.update()) {

            @helper.inputText(
                deviceForm("name"),
                '_label -> "Device name"
            )

            @helper.inputText(
                deviceForm("ipAddress"),
                '_label -> "IP Address"
            )

            @helper.inputText(
                deviceForm("uniqueId"),
                '_label -> "Unique ID"
            )

            @helper.checkbox(
                deviceForm("statusLed"),
                '_label -> "Status light"
            )

            @helper.checkbox(
                deviceForm("debugMode"),
                '_label -> "Debug mode"
            )

            @if(device != null){
            <div>Sensors:</div>
            <div>
            <table class="adminTable">
            @for(sensor <- device.sensors) {
              <tr>
              <td>@sensor.value</td>
              <td><a href="@routes.Sensors.edit(sensor.id)">edit<a/> | <a href="@routes.Sensors.delete(sensor.id)">delete</a></td>
              </tr>
            }
            </table>
            </div>
            }
            @if(deviceForm("id").value != "" && deviceForm("id").value != null) { <div>Last updated: @device.lastUpdate.format("dd MMM yy - HH:mm:ss")</div> }
            <div>
                <input type="hidden" name="id" value="@deviceForm("id").value">
                <input type="submit" value="Submit">
            </div>
        }

        <a href="@routes.Devices.index()">Cancel</a>
    }

