@(devices: List[Device])

@main("Devices") {
  <h1>List of devices</h1>
  <table class="adminTable">
  @for(device <- devices) {
    <tr>
    <td><a href="@routes.Devices.edit(device.id)">@device.name<a/></td>
    <td>@device.ipAddress</td>
    <td><a href="@routes.Devices.edit(device.id)">edit<a/> | <a href="@routes.Devices.delete(device.id)">delete</a></td>
    </tr>
  }
  </table>

  <div><a href="@routes.Devices.add()">Add</a></div>
  <div><a href="@routes.Application.index()">Back</a></div>
}