@(myForm: Form[Sensor], sensor: Sensor)

    @main("Edit a sensor") {

        @if(myForm("id").value == "" || myForm("id").value == null) {
            <h2>Add the sensor</h2>
        } else {
            <h2>Update the sensor</h2>
        }

        @if(myForm.hasGlobalErrors) {
            <ul>
            @myForm.globalErrors.foreach { error =>
                <li>error.message</li>
            }
            </ul>
        }

        @helper.form(action = routes.Actions.update()) {

            @helper.inputText(
                myForm("name"),
                '_label -> "Name"
            )

            @helper.inputText(
                myForm("sensorId"),
                '_label -> "Sensor unique id"
            )

            @helper.inputCheckboxGroup(
                myForm("rolesIds"),
                options = helper.options(models.SensorRole.selectOptions()),
                '_label -> "Roles of the sensor"
            )

            <div>Device: @sensor.device.name</div>

            @if(sensor != null) {
                <table class="adminTable">
                @for(action <- sensor.actions) {
                    <tr>
                        <td><a href="@routes.Actions.edit(sensor.id)">@action.name</a></td>
                        <td>@action.fix</td>
                        <td><a href="@routes.Actions.edit(action.id)">edit</a> | <a href="@routes.Actions.delete(action.id)">delete</a></td>
                    </tr>
                }
                </table>
                <div><a href="@routes.Actions.add(sensor.id)">Add action</a></div>

                <div>Last recorded temperature: @sensor.value</div>
                <div>Last updated: @sensor.lastUpdate</div>
            }

            <input type="hidden" name="device.id" value="@myForm("device.id").value">
            <input type="hidden" name="id" value="@myForm("id").value">
            <input type="submit" value="Submit">
        }

        <a href="@routes.Sensors.index()">Cancel</a>
    }

