@(sensors: List[Sensor])

@main("Sensors") {
  <h1>List of sensors</h1>
  <table class="adminTable">
  @for(sensor <- sensors) {
    <tr>
    <td><a href="@routes.Sensors.edit(sensor.id)">@sensor.getName</a></td>
    <td>@sensor.getValue˚</td>
    <td>[@for(role <- sensor.getRoles) { @role.getName }]</td>
    <td><a href="@routes.Sensors.edit(sensor.id)">edit</a> | <a href="@routes.Sensors.delete(sensor.id)">delete</a></td>
    </tr>
  }
  </table>
  <div><a href="@routes.Application.index()">Back</a></div>

}