@(primary: Sensor, secondary: List[Sensor], errorItem: LogItem)
<!DOCTYPE html>

<html>
    <head>
        <title>Display</title>
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.2.min.js")" type="text/javascript"></script>

            <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <script>

        function updateData ( ) {
                $.get('@routes.Display.displayData()', function ( data ) {
                    try {
                        if(data.primaryTemp != null) {
                            if ( $.isNumeric ( data.primaryTemp ) ) {
                                document.getElementById ( 'primaryTemp' ).innerHTML = data.primaryTemp.toFixed ( 1 ) + '˚' ;
                            } else {
                                document.getElementById ( 'primaryTemp' ).innerHTML = data.primaryTemp ;
                            }
                            document.getElementById ( 'primaryTempName' ).innerHTML = data.primaryTempName;
                        }

                        if(data.secondTemp1 != null) {
                            if($.isNumeric(data.secondTemp1)) {
                                document.getElementById ( 'secondTemp1' ).innerHTML = data.secondTemp1.toFixed ( 1 ) + '˚' ;
                            } else {
                                document.getElementById ( 'secondTemp1' ).innerHTML = data.secondTemp1;
                            }
                            document.getElementById ( 'secondTemp1Name' ).innerHTML = data.secondTemp1Name;
                        }
                        if(data.secondTemp2 != null) {
                            if ( $.isNumeric ( data.secondTemp2 ) ) {
                            document.getElementById ( 'secondTemp2' ).innerHTML = data.secondTemp2.toFixed ( 1 ) + '˚' ;
                            } else {
                            document.getElementById ( 'secondTemp2' ).innerHTML = data.secondTemp2 ;
                            }
                            document.getElementById ( 'secondTemp2Name' ).innerHTML = data.secondTemp2Name;
                        }
                        if(data.secondTemp3 != null) {
                            if($.isNumeric(data.secondTemp3)) {
                                document.getElementById ( 'secondTemp3' ).innerHTML = data.secondTemp3.toFixed ( 1 ) + '˚' ;
                            } else {
                                document.getElementById ( 'secondTemp3' ).innerHTML = data.secondTemp3;
                            }
                            document.getElementById ( 'secondTemp3Name' ).innerHTML = data.secondTemp3Name;
                        }

                        if(data.lastUpdate != null) document.getElementById('lastUpdate' ).innerHTML = data.lastUpdate;

                        document.getElementById('errorDiv').innerHTML = data.status;

                        if(data.status == "OK") {
                            $('#errorDialog').fadeOut();
                        } else {
                            $('#errorDialog').fadeIn();
                        }
                    } catch ( e ) {
                        $('#errorDialog').fadeIn();
                        document.getElementById('errorDiv' ).innerHTML = e.message;
                    }
                } ).fail(function(jqXHR, textStatus, errorThrown) {
                    $ ( '#errorDialog' ).fadeIn ( ) ;
                    if ( textStatus == 'timeout' ) {
                        document.getElementById ( 'errorDiv' ).innerHTML = 'The server is not responding' ;
                    } else {
                        document.getElementById ( 'errorDiv' ).innerHTML = errorThrown ;
                    }
                })
        }

        $( document ).ready(function() {
            setTimeout ( function ( ) {
            updateData ( ) ;
            }, 2000 ) ;

            setInterval ( function ( ) {
                updateData ( ) ;
            }, 25000 ) ;
        });

        </script>

    </head>
    <body>
        <div class="display">
            <table class="tempTable">

                <tr>
                    <td colspan="3">
                        <div style="position : relative ; height : 100 %">
                            <div id="primaryTemp" class="tempDiv">--</div>
                            <div id="primaryTempName" class="tempLabel">@if(primary != null) {@primary.name}</div>
                        </div>
                    </td>
                </tr>

                <tr class="tempSecondaryRow">

                    <td width="33%">
                        <div style="position : relative;" class="tempSecondaryRow">
                            <div id="secondTemp2" class="tempDivSmall">@if(secondary.size() > 1) {--}</div>
                            <div id="secondTemp2Name" class="tempLabelSmall">@if(secondary.size() > 1) {@secondary.get(1).name}</div>
                        </div>
                    </td>
                    <td width="33%">
                        <div style="position : relative ; height : 100 %">
                            <div id="secondTemp1" class="tempDivSmall">@if(secondary.size() > 0) {--}</div>
                            <div id="secondTemp1Name" class="tempLabelSmall">@if(secondary.size() > 0) {@secondary.get(0).name}</div>
                        </div>
                    </td>
                    <td width="33%">
                        <div style="position : relative ; height : 100 %">
                            <div id="secondTemp3" class="tempDivSmall">@if(secondary.size() > 2) {--}</div>
                            <div id="secondTemp3Name" class="tempLabelSmall">@if(secondary.size() > 2) {@secondary.get(2).name}</div>
                        </div>
                    </td>

                </tr>

                <tr class="tempFooterRow"><td rowspan="5"><div><a href="@routes.Application.index()">Main menu</a>
                    - <span id="lastUpdate">@if(primary != null) {@primary.lastUpdate.format("dd MMM yy - HH:mm")}</span></div>
                </td>
                </tr>
            </table>

            <div id="errorDialog" class="errorDialog" style="display: table; overflow: hidden;"><div id="errorDiv" style="display: table-cell; vertical-align: middle;">@if(errorItem != null) {@errorItem} else {Loading...}</div></div>
        </div>

    </body>
</html>