@(inSleepMode: Boolean)

@main("Welcome to the temperature control system") {
    <h1>Please select what you like to do:</h1>
    <div><a href="@routes.Api.switchSleepMode()">@if(inSleepMode){<div style="color: red">Switch sleep mode off</div>} else {Switch to sleep mode}</a></div>
    <div><hr/></div>
    <div><a href="@routes.Devices.index()">Devices</a></div>
    <div><a href="@routes.Sensors.index()">Sensors</a></div>
    <div><a href="@routes.Display.index()">Display</a></div>
    <div><a href="@routes.LogItems.index()">Errors/Log</a></div>

}
